@page "/"
@using BlazorApp.Data;

<PageTitle>Index</PageTitle>

<h1>Welcome Back!</h1>

Here is your personal artist database!

<button @onclick="ReadSql">Read From Sql</button>

@if (artistList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Country</th>
                <th>Genre</th>
                <th>URL</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in artistList)
            {
                <tr>
                    <!--<td>@artist.Id</td>-->
                    <td></td>
                    <td style="font-weight: bold;">@artist.Name</td><!--The name of the artist. Write artist name-->
                    <td><img src="@artist.Country" width="35px" height="20px"></td><!--The country where the artist is from. Search for an image of a country flag online and copy paste its image URL-->
                    <td>@artist.Genre</td><!--The genre/genres that the artist plays. Write the genre/genres-->
                    <td><a href="@artist.Url" target="-blank">Link to Spotify</a></td><!--An URL for the artist music page. Spotify is prefered-->
                    <td><button @onclick="() => DeleteFromSql(artist.Id)">Delete</button></td>
                </tr>
            }

            <tr>
                <td><button @onclick="AddToSql" >Add</button></td>
                <td><input @bind = "artist.Name"/></td>
                <td><input @bind = "artist.Country"/></td>
                <td><input @bind = "artist.Genre"/></td>
                <td><input @bind = "artist.Url"/></td>

            </tr>
        </tbody>
    </table>
}

@code {
    Sql sql = new();
    Artist artist = new();
    List<Artist> artistList = Sql.Read();
    void ReadSql() { artistList = Sql.Read(); }
    void AddToSql()
    { 
        Sql.Create(artist); 
        List<Artist> artistList = Sql.Read();
    }
    void DeleteFromSql(int id)
    {
        Sql.Delete(id);
        artistList = Sql.Read();
    }
}